In [2]:
import pandas as pd

# Raw Data

## Straits Times

In [4]:
#for single file
straitsTimesRaw = pd.read_excel("./articles/Straits Times.xlsx")
straitsTimesRaw.head()

,Unnamed: 0,Unnamed: 0.1,link,title,topics,category,sub_category,author,date,article,File
0,7,0,http://www.straitstimes.com/singapore/body-fou...,Body found in garbage chute area of Woodlands ...,"['POLICE', 'HDB']",Singapore,NaN,['Malavika Menon'],Published2 min ago,SINGAPORE - A man's body was found on the grou...,08122019195416.xlsx
1,8,0,https://www.straitstimes.com/sport/formula-one...,Formula One: Thai Alexander Albon given chance...,"['THAILAND', 'GRAND PRIX', 'ALEXANDER ALBON']",Sport,Formula-One,[],Published2 min ago,London (AFP) - Thai Formula One driver Alexand...,08122019195547.xlsx
2,9,0,https://www.straitstimes.com/singapore/the-str...,The Straits Times bags 8 wins at Asian Digital...,"['SINGAPORE PRESS HOLDINGS', 'AWARDS AND PRIZE...",Singapore,NaN,['Lydia Lam'],"PublishedNov 1, 2017, 6:26 pm SGT",SINGAPORE - The Straits Times bagged eight awa...,08122019195820.xlsx
3,10,0,https://www.straitstimes.com/lifestyle/play-su...,Games,['ST GAMES'],Lifestyle,NaN,[],"PublishedAug 8, 2018, 4:00 am SGT",Ready for a challenge? Try out daily Sudoku an...,08122019195820.xlsx
4,11,0,https://www.straitstimes.com/asia/east-asia/fl...,Hong Kong cancels all remaining Monday flights...,"['HONG KONG PROTESTS', 'CHINA', 'POLICE']",Asia,East-Asia,[],Published10 hours ago,HONG KONG (BLOOMBERG) – Hong Kong airport auth...,08122019195820.xlsx

## Asia One

In [8]:
asiaOneRaw = pd.read_excel("./articles/AsiaOne.xlsx")
asiaOneRaw.head()

,Unnamed: 0,link,title,topics,category,sub_category,author,date,article
0,0,http://www.asiaone.com/singapore/ntu-investiga...,NTU investigating inappropriate student behavi...,"NTU (Nanyang Technological University), Sexual...",singapore,NaN,Cheryl Teh,"Aug 15, 2019",The Nanyang Technological University (NTU) is ...
1,0,http://www.asiaone.com/digital/identity-crisis...,Identity crisis: Chronicling the (mis)adventur...,"Digital, meme",digital,NaN,Ilyas Sholihyn,"Aug 15, 2019",Batman Bin Suparman. The name that any heroic ...
2,0,http://www.asiaone.com/singapore/female-scdf-o...,Female SCDF officer's sex videos leaked online,"Singapore courts, crime",singapore,NaN,David Sun,"Aug 15, 2019",The police are investigating a series of sex v...
3,0,http://www.asiaone.com/singapore/batman-suparm...,Batman Suparman slashed by Foodpanda colleague...,"Singapore courts, crime",singapore,NaN,David Sun,"Aug 15, 2019",An argument in a WhatsApp group chat led to a ...
4,0,http://www.asiaone.com/singapore/missing-singa...,Missing Singaporean kayakers: Fishermen find b...,"malaysia, Rescue, Missing",singapore,NaN,Kok Yufeng,"Aug 15, 2019",The body of a woman wearing a life jacket was ...

## Channel News Asia

In [15]:
cnaList = pd.read_csv("./articles/william/articles-final.csv",header=none, header=None)
cnaList.head()

NameError: name 'none' is not defined